./temperature_tracker/__pycache__
test_env/
.idea
./rounding_edges/venv/*
./virtual_green_screen/venv/*
./rounding_edges/models/*
./virtual_green_screen/models/*
./contraband_detector/venv/*
./contraband_detector/__pycache/*
./contraband_detector/__pycache__/*
./contraband_detector/models/*
